/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
nav{               /*Header*/
	word-spacing: 40px;
	padding: 20px;
}
.services-header { /*Header*/
	width: 880px;
	
	padding-bottom: 40px;
	padding-top: 20px;
	border-bottom: solid 3pt;
}
.navContainer {
	display: flex;
	
}
.navContainer .navLink {  /*Navigation Links*/
	color: #929292;
	text-decoration: none;
	padding: 24pt;
	
}
.navContainer .item {
	/* border: black solid; */
	display: flex;
}

h1 {
	display: inline-block;
	padding-top: 40px;
	padding-bottom: 40px;

}
#Words{
	padding-left: 95px;
   /* padding-top: 95px; */
   font-size: 65px;
   /* width: 10px; */
   /* height: 100px; */
   display: inline-block;
   text-align: center;
}

h1 div {
	width: px;
}

#ParentDiv {
	display: inline-block;

}

#codePic{
	 padding-left: 95px;
	width: 60px;
	height: 120px;
	/* margin-bottom: 0px; */
	display: inline-block;
}
#FeatDiv {

	width: 500px;
	display: inline-block;
	/* height: 20px; */
	
}
#AboutDiv {
	/* padding-left: 500px; */
	display: inline-block;
	width: 500px;
	/* height: 20px; */

}
#Feature {
	/* color: red; */
	width: 500px;
	height: 20px;
	padding-top: 1px;
}
#About {
	/* color: blue; */
	width: 500px;
	height: 20px;
	padding-top: 1px;
	
}
#Part1 {
	display: inline-block;
	align-items: center;
	border-top: solid;
	padding-top: 40px;
}
#middle-img {
	padding: 20px;
}
#ServicesDiv{
	/* color: yellow; */
	display: inline-block;
	 width: 333px; 
}
#ProductDiv{
	/* color:pink; */
	display: inline-block;
	width: 333px; 
	/* width:500px; */
	/* padding-left:333px; */
	/* position: relative; */
}
#VisionDiv{
	/* color: rgb(191, 207, 191); */
	display: inline-block;
	width: 333px; 
	/* width: 1000px; */
	/* padding-left:666px; */
}
#Part2 {
	display: inline-block;
	border-bottom: solid;
	padding-bottom: 40px;
}
#Contact {
	padding-top: 40px;
}

#sec2 {
	padding-bottom: 18px;
	padding-top: 18px;
}
/* footer {
	text-align: center;
} */

.bodyContainer { /*Main Body*/
	 width: 880px;
	height: 980px;
	border: black;
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 40px;


} 
.bodyContainer .item {          /*Boxes within Body*/
	border: solid black;
	background: lightgray;
	width: 400px;
	height: 295px;
	padding: 10px;
	
	

}
.bodyContainer .item p {
	
	font-size: 12pt;
	padding-bottom: 50px;
}
.learnMoreButton {             /*Buttons*/
	color: black;
	background: #EDEDED;
	border: solid 1pt black;
	border-radius: 5px;
	width: 100pt;
	height: 23pt;
	
}
footer {
	padding-top: 40px;
	border-top: solid black;
	display: flex;
	justify-content: space-between;
	width: 880px;
	
}
.footerText {
	
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 375px;
	align-content: space-between;
}
.footerText .item {
	padding: 10px;
	margin-top: 5px;
}
.footerText ul {
	list-style-type: square;
	margin-left: 20px;
}
.footerText ul li {
	margin-top: 15px;
}
h2 {
	font-size: 15pt;
}
.copyrightStatement {
	text-align: center;
}